.img-test{
  color: blueviolet;
}

.min-75{
  min-height: 75vh;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.bg-svg{
  background-image: url("../../../assets/img/bg-top.svg") ;
}

.img-fit{
  object-fit: contain;
  height: 75px
}

.h-70{
  height: 70px;
}

.h-80{
  height: 80px;
}

.txt-justify{
  text-align: justify;
}

.txt-center{
  text-align: center;
}

.txt-left{
  text-align: left;
}

.svg1{
  height: 95px;
  top: -94px;
}

.height-80{
  height: 80px;
}

.button-trs{
  transition: all 0.15s ease 0s;
}



.space-around{
  justify-content: space-around;
}

.img-fit-55{
  object-fit: contain;
  height: 55px
}

.container-max{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: #ea4335
}


