<app-navbar></app-navbar>

<main>
  <div
    class="relative pt-16 pb-32 flex content-center items-center justify-center min-75"
  >
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover bg-svg"
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-25 bg-black"
      ></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/10 px-4 ml-auto mr-auto text-center">
          <div class="header-container">
            <img class="img-fit-80"  src="assets/img/explore_logo.png">
            <div class="logo-cont">
              <img class="img-logo-sm" src="assets/img/logo-espol-blanco.png">
              <img class="img-logo-bg" src="assets/img/google_research_colorful.png">
              <img class="img-logo-sm" src="assets/img/smartx_logo.png">
            </div>
            <button class="glow-on-hover text-white font-semibold text-1xl" type="button" (click)="scroll(register)">Conoce los demos</button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="h70 top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
      </svg>
    </div>
  </div>
  <section class="pb-20 bg-gray-300 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
              >
                <i class="fas fa-chalkboard-teacher"></i>
              </div>
              <h6 class="text-xl font-semibold">Sesiones tutorial</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Sesiones de plenaria  con los fundamentos  aplicados a Machine Learning. 4 sesiones, 1 hora diaria
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400"
              >
                <i class="fas fa-microchip"></i>
              </div>
              <h6 class="text-xl font-semibold">Sesiones prácticas ML</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Sesiones de laboratorio con actividades de programación guiadas a tu propio ritmo.
                4 sesiones, 1 hora diaria.
              </p>
            </div>
          </div>
        </div>
        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400"
              >
                <i class="fas fa-wrench"></i>
              </div>
              <h6 class="text-xl font-semibold">Taller de artículos y RT</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Sesiones prácticas que introduce a los estudiantes a las herramientas comunes para organizar la revisión de literatura. 5 horas, 1 hora diaria.
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400"
              >
                <i class="fas fa-screwdriver"></i>
              </div>
              <h6 class="text-xl font-semibold">Sesión práctica demo</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Sesiones de demostración en ML aplicado para NLP, visión computacional y ambientes inteligentes. 3 sesiones durante 3 días,  2 horas cada día.
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400"
              >
                <i class="fas fa-retweet"></i>
              </div>
              <h6 class="text-xl font-semibold">Experiencias</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Si tienes dudas en como empezar en el mundo de la investigación traeremos profesionales de diferentes áreas para darte una mano. Comparte experiencias con graduados e investigadores
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400"
              >
                <i class="fas fa-lightbulb"></i>
              </div>
              <h6 class="text-xl font-semibold">Reuniones diarias con mentores</h6>
              <p class="mt-2 mb-4 text-gray-600">
                Basado en aplicaciones de estudiantes y de la reacio preliminar
                En función a las solicitudes de los estudiantes y el interés preliminar declarado, se harán grupos y se les asignará a un asesor de la facultad.              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap items-center mt-16">
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <div
            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
          >
            <i class="fas fa-lightbulb text-xl"></i>
          </div>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            Nuestro objetivo
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700"
          >
            Nuestro objetivo es promover oportunidades de investigación que involucren a estudiantes de carreras de informática y no informática en la intersección de aprendizaje automático y ciencias aplicadas e ingeniería.
          </p>
          <a
            (click)="scroll(register)"
            class="font-bold text-gray-800 mt-8"
            >Inscríbete!</a
          >
          <div class="flex flex-wrap mt-12 justify-center space-around" >
            <div class="w-full lg:w-6/12 px-4 text-center">
              <div
                class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
              >
                <i class="fas fa-user-friends text-xl"></i>
              </div>
              <h3 class="text-xl mt-5 font-bold">
                Quiénes
              </h3>
              <p class="mt-2 mb-4 text-gray-500 txt-justify">
                Estudiantes de cualquier facultad con interés en la investigación en ML/AI
              </p>
            </div>
            <div class="w-full lg:w-6/12 px-4 text-center">
              <div
                class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
              >
                <i class="fas fa-hashtag text-xl"></i>
              </div>
              <h3 class="text-xl mt-5 font-bold">
                Cuantos
              </h3>
              <p class="mt-2 mb-4 text-gray-500 txt-center">
                60 Estudiantes
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600"
          >
            <img
              alt="..."
              src="./assets/img/fiec_edificio.jpg"
              class="w-full align-middle rounded-t-lg"
            />
            <blockquote class="relative p-8 mb-4">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="absolute left-0 w-full block svg1"
              >
                <polygon
                  points="-30,95 583,95 583,65"
                  class="text-pink-600 fill-current"
                ></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">
                Ubicación
              </h4>
              <p class="text-md font-light mt-2 text-white">
                Escuela Superior Politecnica del Litoral, Via perimetral Km 30. Facultad de Ingeniería en Electricidad y Computación
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="relative py-20">
    <div
      class="height-80 bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <div
            class="text-pink-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-pink-300"
          >
            <i class="fas fa-road text-xl"></i>
          </div>
          <h3 class="text-3xl font-semibold">Roadmap</h3>
          <div class="flex flex-wrap mt-12 justify-center space-around">
            <img
              alt="..."
              class="max-w-full rounded-lg shadow-lg"
              src="./assets/img/flujo_evento.png"
            />
          </div>

        </div>
        <div class="w-full md:w-6/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-pink-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-pink-300"
            >
              <i class="fas fa-calendar text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold">Cronograma</h3>
<!--            <p class="mt-4 text-lg leading-relaxed text-gray-600">-->
<!--              The extension comes with three pre-built pages to help you get-->
<!--              started faster. You can change the text and images and you're-->
<!--              good to go.-->
<!--            </p>-->
<!--            <ul class="list-none mt-6">-->
<!--              <li class="py-2">-->
<!--                <div class="flex items-center">-->
<!--                  <div>-->
<!--                    <span-->
<!--                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"-->
<!--                      ><i class="fas fa-fingerprint"></i-->
<!--                    ></span>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <h4 class="text-gray-600">-->
<!--                      Carefully crafted components-->
<!--                    </h4>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li class="py-2">-->
<!--                <div class="flex items-center">-->
<!--                  <div>-->
<!--                    <span-->
<!--                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"-->
<!--                      ><i class="fab fa-html5"></i-->
<!--                    ></span>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <h4 class="text-gray-600">Amazing page examples</h4>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li class="py-2">-->
<!--                <div class="flex items-center">-->
<!--                  <div>-->
<!--                    <span-->
<!--                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"-->
<!--                      ><i class="far fa-paper-plane"></i-->
<!--                    ></span>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <h4 class="text-gray-600">Dynamic components</h4>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
<!--            </ul>-->
            <div class="flex flex-wrap mt-12 justify-center space-around">
              <div class="w-full lg:w-6/12 px-4 text-center">

                <div class="container-max-red">
                  <h1 class="text-3xl mt-5 mr-6 font-bold txt-left">
                    21
                  </h1>
                  <h3 class="text-xl mt-5 font-bold text-black txt-left">
                    Abril
                  </h3>
                </div>
                <p class="mt-2 mb-4 text-gray-500 txt-justify">
                1 h Sesiones Tutorial
                </p>
                <p class="mt-2 mb-4 text-gray-500 txt-justify">
                  1 h Sesiones Prácticas de ML
                </p>
                <p class="mt-2 mb-4 text-gray-500 txt-justify">
                  1 h Advisor Meeting
                </p>
                <p class="mt-2 mb-4 text-gray-500 txt-justify">
                  2 h Sesiones Demo
                </p>


                <div class="container-max-blue">
                  <h1 class="text-3xl mt-5 mr-6 font-bold txt-left">
                    05
                  </h1>
                  <h3 class="text-xl mt-5 font-bold text-black txt-left">
                    Mayo
                  </h3>
                </div>
                <p class="mt-2 mb-4 text-gray-500 txt-justify">
                  1h Sesiones Tutorial
                </p>
                <p class="mt-2 mb-4 text-gray-500 txt-justify">
                  1h Sesiones Prácticas de DL
                </p>
                <p class="mt-2 mb-4 text-gray-500 txt-justify">
                  1h Experiencias
                </p>
                <p class="mt-2 mb-4 text-gray-500 txt-justify">
                  2h taller investigación
                </p>
              </div>

              <div class="w-full lg:w-6/12 px-4 text-center">

                <div class="container-max-red">
                  <h1 class="text-3xl mt-5 mr-6 font-bold txt-left">
                    22
                  </h1>
                  <h3 class="text-xl mt-5 font-bold text-black txt-left">
                    Abril
                  </h3>
                </div>
                <p class="mt-2 mb-4 text-gray-500 txt-justify">
                  1 h Sesiones Tutorial
                </p>
                <p class="mt-2 mb-4 text-gray-500 txt-justify">
                  1 h Sesiones Prácticas de ML
                </p>
                <p class="mt-2 mb-4 text-gray-500 txt-justify">
                  1 h Advisor Meeting
                </p>
                <p class="mt-2 mb-4 text-gray-500 txt-justify">
                  2 h Sesiones Demo
                </p>


                <div class="container-max-blue">
                  <h1 class="text-3xl mt-5 mr-6 font-bold txt-left">
                    06
                  </h1>
                  <h3 class="text-xl mt-5 font-bold text-black txt-left">
                    Mayo
                  </h3>
                </div>
                <p class="mt-2 mb-4 text-gray-500 txt-justify">
                  1h Sesiones Tutorial
                </p>
                <p class="mt-2 mb-4 text-gray-500 txt-justify">
                  1h Sesiones Prácticas de DL
                </p>
                <p class="mt-2 mb-4 text-gray-500 txt-justify">
                  2h Experiencias
                </p>
                <p class="mt-2 mb-4 text-gray-500 txt-justify">
                  1h Sesiones Demo
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="pt-20 bg-gray-200 pb-48">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold">Conoce nuestro equipo</h2>
        </div>
      </div>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                <img
                  alt="..."
                  src="https://jecordov.github.io/images/teampic/profile_innovaccion.jpg"
                  class="shadow-lg rounded-full max-w-full mx-auto"
                  style="max-width: 120px;"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Ph.D. José Córdova</h5>
                  <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                    Director
                  </p>
<!--                  <div class="mt-6">-->
<!--                    <button-->
<!--                      class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"-->
<!--                      type="button"-->
<!--                    >-->
<!--                      <i class="fab fa-twitter"></i></button-->
<!--                    ><button-->
<!--                    class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"-->
<!--                    type="button"-->
<!--                  >-->
<!--                    <i class="fab fa-facebook-f"></i></button-->
<!--                  ><button-->
<!--                    class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"-->
<!--                    type="button"-->
<!--                  >-->
<!--                    <i class="fab fa-dribbble"></i>-->
<!--                  </button>-->
<!--                  </div>-->
                </div>
              </div>
          </ng-template>
          <ng-template carouselSlide class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
            <div class="px-6">
              <img
                alt="..."
                src="http://www.espol.edu.ec/postgrados/sites/default/files/carmen-vaca.jpg"
                class="shadow-lg rounded-full max-w-full mx-auto"
                style="max-width: 120px;"
              />
              <div class="pt-6 text-center">
                <h5 class="text-xl font-bold">Ph.D. Carmen Vaca</h5>
                <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                  Mentor
                </p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
            <div class="px-6">
              <img
                alt="..."
                src="http://www.fimcp.espol.edu.ec/sites/fimcp.espol.edu.ec/files/Tutiv%C3%A9n_Christian.png"
                class="shadow-lg rounded-full max-w-full mx-auto"
                style="max-width: 120px;"
              />
              <div class="pt-6 text-center">
                <h5 class="text-xl font-bold">Ph.D. Christian Tutivén</h5>
                <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                  Mentor
                </p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
            <div class="px-6">
              <img
                alt="..."
                src="https://media.licdn.com/dms/image/C4E03AQEbapfSq_WcBg/profile-displayphoto-shrink_800_800/0/1650393234230?e=1686787200&v=beta&t=l7X8fmRYDao9pyki_QxRimtuqRiBCbLKpopX0iwVvhY"
                class="shadow-lg rounded-full max-w-full mx-auto"
                style="max-width: 120px;"
              />
              <div class="pt-6 text-center">
                <h5 class="text-xl font-bold">Ing. Jocellyn Luna</h5>
                <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                  Organización/Tutor
                </p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
            <div class="px-6">
              <img
                alt="..."
                src="https://media.licdn.com/dms/image/C4E03AQEaQQEykPJk3A/profile-displayphoto-shrink_800_800/0/1616639497240?e=1686787200&v=beta&t=wGhy2NibZN4_9Kz3UfMJnh0fHkb_yTQQyYXey-HiXqE"
                class="shadow-lg rounded-full max-w-full mx-auto"
                style="max-width: 120px;"
              />
              <div class="pt-6 text-center">
                <h5 class="text-xl font-bold">Ing. Carlos Cedeño</h5>
                <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                  Organización/Tutor
                </p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
            <div class="px-6">
              <img
                alt="..."
                src="./assets/img/sandra_coello.jfif"
                class="shadow-lg rounded-full max-w-full mx-auto"
                style="max-width: 120px;"
              />
              <div class="pt-6 text-center">
                <h5 class="text-xl font-bold">Ing. Sandra Coello</h5>
                <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                  Organización
                </p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
            <div class="px-6">
              <img
                alt="..."
                src="https://www.fiec.espol.edu.ec/sites/fiec.espol.edu.ec/files/Christopher-Vaccaro-P.png"
                class="shadow-lg rounded-full max-w-full mx-auto"
                style="max-width: 120px;"
              />
              <div class="pt-6 text-center">
                <h5 class="text-xl font-bold">Msc. Christopher Vaccaro</h5>
                <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                  Tutor
                </p>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
  </section>


  <section #register class="pb-20 relative block bg-gray-900">
    <div
      class="height-80 bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-gray-900 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
    <div class="container mx-auto px-4 lg:pt-24">
      <div class="flex flex-wrap text-center justify-center container-bottom">
        <div class="w-full lg:w-6/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300"
          >
            <div class="flex-auto p-5 lg:p-10">
              <h4 class="text-2xl font-semibold">Te unes al reto?</h4>
              <p class="leading-relaxed mt-1 mb-4 text-gray-600">
                Completa el formulario en el siguiente link
              </p>
              <!--              <div class="relative w-full mb-3 mt-8">-->
              <!--                <label-->
              <!--                  class="block uppercase text-gray-700 text-xs font-bold mb-2"-->
              <!--                  for="full-name"-->
              <!--                  >Full Name</label-->
              <!--                ><input-->
              <!--                  type="text"-->
              <!--                  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"-->
              <!--                  placeholder="Full Name"-->
              <!--                  style="transition: all 0.15s ease 0s;"-->
              <!--                />-->
              <!--              </div>-->
              <!--              <div class="relative w-full mb-3">-->
              <!--                <label-->
              <!--                  class="block uppercase text-gray-700 text-xs font-bold mb-2"-->
              <!--                  for="email"-->
              <!--                  >Email</label-->
              <!--                ><input-->
              <!--                  type="email"-->
              <!--                  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"-->
              <!--                  placeholder="Email"-->
              <!--                  style="transition: all 0.15s ease 0s;"-->
              <!--                />-->
              <!--              </div>-->
              <!--              <div class="relative w-full mb-3">-->
              <!--                <label-->
              <!--                  class="block uppercase text-gray-700 text-xs font-bold mb-2"-->
              <!--                  for="message"-->
              <!--                  >Message</label-->
              <!--                ><textarea-->
              <!--                  rows="4"-->
              <!--                  cols="80"-->
              <!--                  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"-->
              <!--                  placeholder="Type a message..."-->
              <!--                ></textarea>-->
              <!--              </div>-->
              <div class="text-center mt-6">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf6BZncfvKfYy6eGJq_US_EUtGb7cSWWxPKNWFA5WPio6AjYg/viewform?usp=sf_link">
                  <button
                    class="button-trs bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                    type="button"
                  >
                    Ir al formulario
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold text-white">Criterios de selección</h2>
<!--          <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">-->
<!--            Put the potentially record low maximum sea ice extent tihs year-->
<!--            down to low ice. According to the National Oceanic and-->
<!--            Atmospheric Administration, Ted, Scambos.-->
<!--          </p>-->
        </div>
      </div>
      <div class="flex flex-wrap mt-12 justify-center">
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
          >
            <i class="fas fa-medal text-xl"></i>
          </div>
<!--          <h6 class="text-xl mt-5 font-semibold text-white">-->
<!--            Excelent Services-->
<!--          </h6>-->
          <p class="mt-2 mb-4 text-white">
            Haber aprobado Fundamentos de Programación
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
          >
            <i class="fas fa-poll text-xl"></i>
          </div>
<!--          <h5 class="text-xl mt-5 font-semibold text-white">-->
<!--            Grow your market-->
<!--          </h5>-->
          <p class="mt-2 mb-4 text-white">
            Haber aprobado 30 materias (requerimiento para itinerarios de investigación)
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
          >
            <i class="fas fa-star text-xl"></i>
          </div>
<!--          <h5 class="text-xl mt-5 font-semibold text-white">Launch time</h5>-->
          <p class="mt-2 mb-4 text-white">
            Notas altas en programación y estadística
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
          >
            <i class="fas fa-lightbulb text-xl"></i>
          </div>
<!--          <h5 class="text-xl mt-5 font-semibold text-white">Launch time</h5>-->
          <p class="mt-2 mb-4 text-white">
            Declaraciones reflexivas acerca de por qué quieren explorar la investigación y qué esperan obtener al participar en nuestro programa.
          </p>
        </div>
      </div>

      <div class="flex justify-center mt-6">
        <h2 class="text-sm text-white">Si eres estudiante o docente y quieres participar como parte del staff escríbenos a smartx@fiec.espol.edu.ec</h2>
        <!--          <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">-->
        <!--            Put the potentially record low maximum sea ice extent tihs year-->
        <!--            down to low ice. According to the National Oceanic and-->
        <!--            Atmospheric Administration, Ted, Scambos.-->
        <!--          </p>-->
      </div>
    </div>
  </section>
<!--  <section class="relative block py-24 lg:pt-0 bg-gray-900">-->
<!--    <div class="container mx-auto px-4 mt-6">-->
<!--      <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">-->
<!--        -->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

</main>

<!--<app-footer></app-footer>-->
