@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import url(~fullpage.js/dist/fullpage.min.css);








.logo-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  place-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .logo-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.img-logo-bg {
  width: 400px;
}
.img-logo-sm {
  width: 200px;
}

@media only screen and (max-width: 1225px) {
  .img-logo-bg {
    width: 300px;
  }
  .img-logo-sm {
    width: 150px;
  }
}

.img-fit-80{
  object-fit: contain;
  width: 50vw;
  align-self: center;
}

@media only screen and (max-width: 700px) {
  .img-fit-80{
    object-fit: contain;
    width: auto;
    align-self: center;
  }
}

.img-fit{
  object-fit: contain;
  height: 75px
}

.bg-svg{
  background: linear-gradient(328.78deg, #030086 14.45%, #BD6177 84.36%), linear-gradient(301.28deg, #209B4A 0%, #7000FF 100%), radial-gradient(100% 138.56% at 100% 0%, #D50000 0%, #00FFE0 100%), radial-gradient(100% 148.07% at 0% 0%, #D50000 0%, #00FFFF 100%);
  background-blend-mode: soft-light, overlay, difference, normal;
}

.img-fit-55{
  object-fit: contain;
  height: 55px;
}



.container-max-red{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: #ea4335
}

.container-max-yll{
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   color: #fbbc04
 }

.container-max-blue{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: #4285f4
}


.svg1{
  height: 95px;
  top: -94px;
}

.height-80{
  height: 80px;
}

.button-trs{
  transition: all 0.15s ease 0s;
}
.space-around{
  justify-content: space-around;
}

.txt-justify{
  text-align: justify;
}

.txt-center{
  text-align: center;
}

.txt-left{
  text-align: left;
}

.img-test{
  color: blueviolet;
}

.min-75{
  min-height: 75vh;
}

.header-container{
  display: flex;
  flex-direction: column;
}

.h70{
  height: 70px;
}

.container-bottom{
  align-items: center;
  flex-direction: column;
}

.glow-on-hover {
  width: 180px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: rgba(17, 17, 17, 0.5);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  place-self: center;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, rgba(255, 0, 0, 0.5), rgba(255, 115, 0, 0.48), rgba(255, 251, 0, 0.47), rgba(72, 255, 0, 0.46), #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: rgba(154, 36, 36, 0.5)
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;

}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}









