@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");

.logo-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .logo-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.img-fit{
  object-fit: contain;
  height: 75px
}

.bg-svg{
  background-image: url("src/assets/img/bg-top.svg") ;
}

.img-fit-55{
  object-fit: contain;
  height: 55px
}

.container-max{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: #ea4335
}

.svg1{
  height: 95px;
  top: -94px;
}

.height-80{
  height: 80px;
}

.button-trs{
  transition: all 0.15s ease 0s;
}
.space-around{
  justify-content: space-around;
}

.txt-justify{
  text-align: justify;
}

.txt-center{
  text-align: center;
}

.txt-left{
  text-align: left;
}

.img-test{
  color: blueviolet;
}

.min-75{
  min-height: 75vh;
}

.header-container{
  display: flex;
  flex-direction: column;
}

.h70{
  height: 70px;
}

